@using Utilities.ScriptManager.Models;
@using Utilities.ScriptManager.Helpers;
@model IEnumerable<Script>
@{
    ViewBag.Title = "Scripts";
}

<h2>Scripts</h2>
<br/>

@*
@Html.Label("FilePath", "File Path")
@Html.TextBox("FilePath", null, new { width = 300 })

<br/>
*@

@Html.Label("Search")
@Html.TextBox("Search", null, new { @class = "search" })        

<div id="scripts-container">
    <div id="scripts-list">
        @foreach (Script script in Model)
        {
            <div class="filter-item">
                <a class="dialog" data-hoverdialog-previewid="scriptpreview" data-hoverdialog-editorid="editor" href="#">@script.Name</a>
                <div class="hidden dialog"><pre class="searchable">@Html.Raw(script.Value)</pre></div>
            </div>
        }
    </div>
    
    <div id="scriptpreview" class="hidden">
        <div id="editor">
            
        </div>
        @*<button id="SelectScript" onclick="selectContent($('#scriptpreview #editor')[0]); return false;">Select</button>*@
    </div>
    <div style="clear: both;"></div>    
</div>